body, input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    line-height: 1.25;
}


main {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

input[type=number] {
    max-width: 5em;
}
